In [1]:
class Book:
    def __init__(self, author, title):
        self.author = author
        self.title = title
    
    def bookDetails(self):
        print(f"Author: {self.author}\nTitle: {self.title}")

In [ ]:
bookA = Book("George R.R. Martin", "A Game of Thrones")
bookA.bookDetails()
type(bookA)

Author: George R.R. Martin
Title: A Game of Thrones

2927106518448

In [4]:
id(bookA)

2927106518448

In [6]:
bookB = bookA
bookB.bookDetails()

Author: George R.R. Martin
Title: A Game of Thrones

In [7]:
id(bookB)

2927106518448

In [8]:
id(bookA) == id(bookB)

True

In [9]:
bookC = Book("Drashti", "Data Science")
bookC.bookDetails()

Author: Drashti
Title: Data Science

In [10]:
id(bookC)

2927106730528

In [11]:
bookA is bookB

True

In [12]:
bookA is bookC

False

In [14]:
bookA is not bookC

True

In [15]:
listA = [1, 2, 3, 4, 5]
listB = listA
listB

[1, 2, 3, 4, 5]

In [16]:
listA is listB

True

In [17]:
listC = list(listA)
listC

[1, 2, 3, 4, 5]

In [18]:
listA is listC

False

In [19]:
id(listA) == id(listC)

False

In [20]:
listA.append(6)
print(listB)
print(listC)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [21]:
id(listA[0])

140728496241080

In [22]:
id(listA[1])

140728496241112

In [23]:
listA = [1,2,3,4]
listA is listB

False

In [ ]:
id(listA)

2927121076224

## Map map(function, iterable, *iterables)

In [26]:
def square_it(x):
    return x * x

listObj = [1, 2, 3, 4, 5, 6]

list(map(square_it, listObj))

[1, 4, 9, 16, 25, 36]

In [27]:
list(map(lambda x: x + x, listObj))

[2, 4, 6, 8, 10, 12]

## Defining arguments for a function

In [29]:
def sum(*my_arg):
    a = 0
    for num in my_arg:
        a += num
    print(a)
sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

55
210

In [31]:
def myFunc(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
# Driver code
myFunc(first='Geeks', mid='for', last='Geeks')
myFunc(first='Geeks', mid='for', last='Geeks', extra='!')

first == Geeks
mid == for
last == Geeks
first == Geeks
mid == for
last == Geeks
extra == !

In [32]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)
    
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}