In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(["A", 1, "B", 2, "C", 3, "D", 4, "E", 5], columns=["0"])
df

   0
0  A
1  1
2  B
3  2
4  C
5  3
6  D
7  4
8  E
9  5

## Sort DataFrame based on another list

In [45]:
df2 = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4], ["E", 5]], columns=["Col0", "Col1"], index=['row1', 'row2', 'row3', 'row4', 'row5'])
sort_list = ["C", "A", "D", "B"]
df2['Col0'] = pd.Categorical(df2['Col0'], categories=sort_list, ordered=True)
sorted_df = df2.sort_values('Col0', ascending=True)
sorted_df

     Col0  Col1
row3    C     3
row1    A     1
row4    D     4
row2    B     2
row5  NaN     5

## Swap two rows of a dataframe

In [ ]:
df3 = pd.DataFrame([['A', 1], ['B', 2], ['C', 3], ['D', 4], ['E', 5]], columns=['Col0', 'Col1'], index=['row1', 'row2', 'row3', 'row4', 'row5'])
temp = df3.loc[['row1', 'row5', 'row3', 'row4', 'row2']]
temp

     Col0  Col1
row1    A     1
row5    E     5
row3    C     3
row4    D     4
row2    B     2

: