## Group by - DataFrame.groupby(by=None, axis=<no_default>, level=None, as_index=True, sort=True, group_keys=True, observed=<no_default>, dropna=True)

In [1]:
import pandas as pd

data = {
  'co2': [95, 90, 99, 104, 105, 94, 99, 104],
  'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-Max'],
  'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}

df = pd.DataFrame(data)

# df.groupby(['car']).mean()

result = df.groupby('car')[['co2']].mean()
result

# grouped = df.groupby('car')
# mean = grouped.agg({'co2': ['mean']})
# print(mean)

         co2
car
Ford   100.5
Skoda   97.0

In [2]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [3]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]

index = pd.MultiIndex.from_arrays(arrays, names=("Animal", 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]}, index=index)
df

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [4]:
df.groupby(level=0).mean()

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [5]:
df.groupby(level=1).mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

In [6]:
df.groupby(['Animal']).max()

        Max Speed
Animal
Falcon      390.0
Parrot       30.0

In [8]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])
df

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

In [9]:
df.groupby(['b']).sum()

     a  c
b
1.0  2  3
2.0  2  5

In [11]:
df.groupby(['b'], dropna=False).sum()

     a  c
b
1.0  2  3
2.0  2  5
NaN  1  4