### Create a DataFrame with columns "Name", "Age", "City" for 5 people. Filter to show only people older than 25.

In [ ]:
import pandas as pd

# Solution
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [24, 32, 28, 45, 22],
    "City": ["NY", "LA", "Chicago", "Miami", "Boston"]
}

df = pd.DataFrame(data)
dfGT25 = [df['Age'] > 25]
print(dfGT25)
dfGT25_data = df[df['Age'] > 25]
print(dfGT25_data)

[0    False
1     True
2     True
3     True
4    False
Name: Age, dtype: bool]
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

###  Given a DataFrame with missing values, fill numeric columns with their mean and categorical columns with "Unknown".

In [ ]:

# Sample data with missing values
df = pd.DataFrame({
    "A": [1, 2, None, 4],
    "B": ["X", None, "Y", "Z"]
})
df['A'] = df['A'].fillna(df['A'].mean(), inplace=True)
df['B'] = df['B'].fillna('Unknown', inplace=True)
df

          A        B
0  1.000000        X
1  2.000000  Unknown
2  2.333333        Y
3  4.000000        Z

### For a sales DataFrame, calculate total and average sales by region.

In [18]:
sales = pd.DataFrame({
    "Region": ["North", "South", "North", "East", "East"],
    "Sales": [100, 200, 150, 300, 250]
})

result = sales.groupby('Region')['Sales'].agg(['sum', 'mean'])
print(result)

        sum   mean
Region
East    550  275.0
North   250  125.0
South   200  200.0

### Given a DataFrame with dates, extract the month and find the count of records per month.

In [27]:
df = pd.DataFrame({
    "Date": pd.date_range(start="2023-01-01", periods=100, freq="D"),
    "Value": range(100)
})

df['Month'] = df['Date'].dt.month
df['Month Name'] = df['Date'].dt.month_name()
result = df.groupby('Month Name')['Value'].count()
result1 = df['Month Name'].value_counts()
print(result)
print(result1)

Month Name
April       10
February    28
January     31
March       31
Name: Value, dtype: int64
Month Name
January     31
March       31
February    28
April       10
Name: count, dtype: int64

## Series.copy(deep=True)

In [28]:
series = pd.Series([1,2,3,4,5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
copied = series.copy()
copied

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [30]:
copied[1] = 10
copied

0     1
1    10
2     3
3     4
4     5
dtype: int64

In [31]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
shallow_copy = series.copy(deep=False)
shallow_copy

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
shallow_copy[1] = 20
shallow_copy

0     1
1    20
2     3
3     4
4     5
dtype: int64

In [34]:
series

0     1
1    20
2     3
3     4
4     5
dtype: int64